<section class="section-1">

    <div class="area-title">
        <h3>Um Instituição completa de informações...</h3>
        <h1>Já são mais de 1000 clientes</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus vitae expedita commodi fugit vel ducimus ipsa provident temporibus sed. Neque doloremque incidunt corrupti repudiandae assumenda dolorum, totam beatae. Ea, dolorum?</p>
        <a>QUERO SER CLIENTE</a>
    </div>
    
    <div class="image1">
        <img src="assets/img.jpg">
    </div>
    
</section>